html{
    min-width: 700px;
}
body{
    background-color: #f5c49e;
    font-family: 'DM Serif Display', serif;
    color: rgb(36, 34, 34);
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}
.logo{
    height: auto;
}
#fumbiisannoying{
    object-fit: contain;
    height: 30px;
}
.navbarlist{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
li{
    list-style: none;
}
a{
    text-decoration: underline;
    font-size: 10px;
    color: black;
    padding-right: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
a:hover{
    color: rgb(243, 162, 162);
}
a:active{
    color: rgb(243, 162, 162);
}
.jumbotron{
    height: 700px;
    background-position: 10px;
    background-image: url("backdrop.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background: #f5c49e;
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    line-height: 1px;
}
.content h4{
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}
.container{
    max-height: 600px;
    display: flex;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    line-height: 1px;
}
.container h4{
    font-family: 'Josefin Sans', sans-serif;
}
.totm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.totmtext{
    position: relative;
    top: 50px;
    line-height: 1;
}
.container img{
    flex: auto;
    height: 300px;
    width: 300px;
    object-fit: contain;
    flex-direction: row;
    align-content: flex-start;
    justify-items: space-around;
}
figcaption{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    position: relative;
    bottom: 30px;
}
.locations{
    height: 500px;
    background-image: url("backdrop2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 250px;
    width: 100%;
}
.squares{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.loca{
    background-color: #f5c49e;
    text-align: center;
    line-height: 1;
    flex-wrap: wrap;
    width: 200px;
    justify-items: center;
    align-content: center;
}
.loca h5{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    line-height: 2;
}
footer{
    position: relative;
    top: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}